<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Lowest Bounds For Baseliner" sequenceNumber="1422261374">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.equinox.common" version="3.6.200.v20130402-1505"/>
      <unit id="org.eclipse.equinox.ds" version="1.4.200.v20131126-2331"/>
      <unit id="org.eclipse.equinox.registry" version="3.5.400.v20140428-1507"/>
      <unit id="org.eclipse.osgi.services" version="3.4.0.v20140312-2051"/>
      <unit id="org.eclipse.equinox.util" version="1.0.500.v20130404-1337"/>
      <unit id="org.eclipse.osgi" version="3.10.1.v20140909-1633"/>
      <unit id="org.eclipse.equinox.p2.artifact.repository" version="1.1.300.v20131211-1531"/>
      <unit id="org.eclipse.equinox.p2.metadata.repository" version="1.2.100.v20131209-2144"/>
      <unit id="org.eclipse.pde.api.tools" version="1.0.600.v20140520-1809"/>
      <unit id="org.eclipse.core.runtime" version="3.10.0.v20140318-2214"/>
      <unit id="org.eclipse.core.commands" version="3.6.100.v20140528-1422"/>
      <unit id="org.eclipse.ltk.core.refactoring" version="3.6.101.v20140817-1500"/>
      <unit id="org.eclipse.core.resources" version="3.9.1.v20140825-1431"/>
      <unit id="org.eclipse.pde.core" version="3.10.1.v20140902-1534"/>
      <unit id="org.eclipse.pde.ui" version="3.8.101.v20140902-1534"/>
      <unit id="org.eclipse.ui" version="3.106.0.v20140812-1751"/>
      <unit id="org.eclipse.ui.workbench" version="3.106.1.v20140827-1737"/>
      <unit id="org.eclipse.ui.ide" version="3.10.1.v20140828-0944"/>
      <unit id="org.eclipse.jface" version="3.10.1.v20140813-1009"/>
      <unit id="org.eclipse.jdt" version="3.10.0.v20140925-0400"/>
      <unit id="org.eclipse.jdt.core" version="3.10.0.v20140902-0626"/>
      <unit id="org.junit" version="4.11.0.v201303080030"/>
      <repository location="http://download.eclipse.org/eclipse/updates/4.4/R-4.4.1-201409250400"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="biz.aQute.bndlib" version="2.4.0.201411031534"/>
      <repository location="http://bndtools-updates.s3.amazonaws.com/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.guava" version="15.0.0.v201403281430"/>
      <unit id="org.kohsuke.args4j" version="2.0.21.v201301150030"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140525021250/repository/"/>
    </location>
  </locations>
</target>
